[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  background: #333;
  color: #0ff;
}

td.gridjs-td{
	background-color: #222;
	border: 1px solid #666;
	padding: 9px;
}

th.gridjs-th {
	height: 60px;
	color: #aaa;
	background-color: #666;
	border: 1px solid black;
	padding: 9px;
}

th.gridjs-th:hover  {
	color: #59e3ea;
	background: #222;
	z-index: 1;
}


.gridjs-footer, .gridjs-pagination, .gridjs-pagination .gridjs-pages button:disabled, .gridjs-pagination .gridjs-pages button:hover:disabled, .gridjs-pagination .gridjs-pages button[disabled]{
	background: #444;
	color: #aaa;
	font-family: monospace;
	font-size: 1em;
}

 .gridjs-pagination .gridjs-pages button.gridjs-currentPage  {
 	background: #333;
 	color: #59e3ea;
 }

 .gridjs-pagination .gridjs-pages button {
 	background: #222;
 	color: #999;
 }

.gridjs-td, .gridjs-tr {
	color: #aaa;
	font-size: 1em;
	font-family: monospace;
	line-height: 1.3em;
	padding: 0px;
}


.formulario {
	display: grid;
	width: 100%;
	margin: 5px auto;
	font-family: monospace;
}

.col3{
	grid-template-columns: 1fr 1fr 1fr;
}

.col2{
	grid-template-columns: 1fr 1fr;
}


.mainContainer{
	display: inline-flex;
	border-right: 1px solid #555;
	padding: 5%;
	width: 100vw;
	max-width: 400px;
	height: 100vh;
	background: #222;
	object-fit: contain;
	align-items: flex-start;
	justify-items: flex-end;
}

.secContainer{ 
	display: inline-flex;
	flex-direction: column;
	background: #333;
	height: 100vh;
	grid-column: 2 / span 1;
	grid-row: 1 / span 2;
	min-width: 700px;
	max-height: 100%;
	overflow-x: scroll;
}

.impresion {
	grid-column: 1 / span 2;
	margin-bottom: 20px;
	border-top: 3px double #555;
}

.terminacion {
	text-rendering: optimizeLegibility;
}

div.terminacion{
		grid-column: span 2;
		padding: 5% 10%;
		border-top: 3px double #555;
}

.terminacion h3 {
	font-size: 16px;
	color: #777;
}
.terminacion input {
	display: inline;
	margin: 15px 10px 10px 0px;
	border-radius: 3px;
	border: solid 2px #444;
}
.terminacion p , .terminacion label{
	background-color: #000;
	padding:5px 10px;
	color: #666;
	font-weight: 500;
	display:inline;
	line-height: 20px;

}

.formulario h3 {
	margin-left: 10%;
	padding-top: 5px;
	font-weight: 100;
}


.button__ON, .button__OFF {
	color: green;
	padding: 10px;
	margin-top: 10px;
	margin-left: 10%;
	margin-right: 10%;
	height: 35px;
	transition: box-shadow .3s;
}

.button__ON {
	background: #444;
	color: #eee;
	border: 1px solid #ddd;
	border-radius: 5px;
	box-shadow: 3px 3px 0px #000;
	margin-bottom: 25px;
}

.button__OFF {
	background: #666;
	color: #333;
	box-shadow: 0px 0px 0px #000;

}
.button__ON:hover{
	color: #59e3ea;
	border: 1px solid #59e3ea;
	background-color: #222;
	box-shadow: 1px 1px 0.3px #000;
}

.formulario input, .formulario select, input.gridjs-input {
	color: #eee;
	background: #555;
	border: 1px solid #222;
	border-radius: 5px;
	height: 35px;
	margin: 0 auto 13px 10%;
	padding: 0 0 0 10px;
	transition: border 1s;
}

.formulario input:focus, .formulario select:focus, input.gridjs-input:focus {
	color: #59e3ea;
	border: 1px solid #59e3ea;
	background: #444;
}
.formulario label {
	padding: 0 5px;
	font-size: 12px;
	color: #999;
	margin-left: 20%;
	margin-bottom: 2px;
	
}

.formulario label[for="impresion"] {
	margin: 5px;
}

.formulario input[type="number"] {
	display: inline;
	width: 50%;
	margin-left: 20%;

} 



.formulario input[type="text"], .formulario select {
	width: 80%;
	grid-column: span 2;
} 

.formulario input[type="radio"] {
	display: inline-block;
	height: 15px;
	width: fit-content;
	margin-left: 10%;
	margin-right: 0;
	margin-top: 5px;
	margin-bottom: 5px;
} 

.formulario > .inputError {
	background-color: #f24;
	border: 2px solid #900;
}

.dbPick{
	background-color: #444;
	border-radius: 5px;
	grid-column: 1 / span 2;
	padding: 10px;
	margin-bottom: 20px;
	box-shadow: #000 3px 3px 3px;
}

input#paginas.inputError, input#cantidad.inputError, input#coloresFrente.inputError, input#coloresDorso.inputError, input#ancho.inputError, input#alto.inputError {
	background-color: #f24;
	border: 2px solid #900;
}


/* -------------------- CRUD - start------------------ */

.productList{
	display: inline;
	height: 100vh;
	overflow-y: scroll;
	padding: 20px;
	height: 100vh;
	overflow-y: scroll;
	grid-column: 3 / span 1;
	grid-row: 1 / span 1;
	background: #444;
}

.productList.button {
	padding: 0;
	margin: 0;
	outline: none;
}

.productList h3:active, .productList h3:focus {
	outline: none;
	border: none;
	background: #444;
	color: #59e3ea;
}

.addProducts{
	margin-top: 40px;
	margin-bottom: 40px;
	align-items: center;
	
}

.addProducts button, input {
	font-size: .9em;
	padding: 5px;
	border: 1px solid #999;
	height: 30px;
	transition: border 1s, box-shadow .3s, background .5s;
}

.addProducts button:focus,.addProducts button:active, input:focus {
	border: 1px solid #F90;
	outline: none;
}

.addProducts button:hover  {
	border: 1px solid #59e3ea;
	outline: none;
	box-shadow: 5px 5px 2px #000;
}

.addProducts button:active:hover{
	border: 1px solid #000;
	box-shadow: none;
	background: #666;
}

.productItem {
	width: 90%;
	min-width: 300px;
	border-top: 1px dashed #999;
	margin:  5px auto 5px auto;
	padding-top: 5px;
	padding-bottom: 0px;
	display: grid;
	grid-template-columns: 1fr 150px;
}

.saveButtons{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	padding-right: 0;
}

.saveButtons button{
	color: #777;
	background: #444;
	border-radius: 5px;
	font-size: .8em;
	height: 25px;
	padding: 5px;
	margin-left: 10px;
	box-shadow: 1px 1px 2px #000;
	border: 1px solid #999;
	
}

.productList h3 {
	font-size: 0.9em;
	font-weight: 500;
	color:  #aaa;
	display: inline;
	text-align: left;
	transition: color 0s;
	user-select: none;
}

.productList h3:hover {
	color:#59e3ea;
	transition: color 0.35s;
}
.delete {
	color: #d00;
	transition: color .5s ease-in, border .5s ease-in;
}

.delete:hover{
	border:1px solid #d00;
	color: #a00;
	background: #000;
	box-shadow: 3px 3px 2px #000;
	transition: color .5s;
}

.imposible {
	color: #999;
}

.posible {
	color: #59e3ea;
	transition: color .5s ease-in, border .5s ease-in;

}

.posible:hover{
	color: #59e3ea;
	border:1px solid #59e3ea;
	box-shadow: 3px 3px 2px #000;
	transition: color 1s, border 1s;

}

/* -------------------- CRUD - end ------------------ */

canvas {
	margin: auto;
	position: relative;
	top: 0px;
	left: 0px;
	grid-column: 2 / span 1;
	grid-row: 2 / span 1;
}

#contCanvas .info {
	padding: 20px;
	color: #9ff;
}

.floatWindow {
	position: absolute;
	font-family:monospace;
	font-weight: 300;
	font-size: 15px;
	color: #ddd;
	background: #444;
	line-height: 20px;
	padding: 10px;
	width: 200px;
	height: 200px;
	background: #323232;
	border: 1px solid #59e3ea;
	border-radius: 0px 15px 15px 15px;
	box-shadow: 7px 7px 10px #000;
	bottom: 25px;
	Right: 25px;
	transition: all .5s ease-out;
}

.floatWindow li {
	padding: 5px;
	border-bottom: 1px solid #59e3ea;
	list-style: none;
}

.floatWindow li:hover {
	color: #59e3ea;
}

.fixedWindow {
	position: static;
	font-family:monospace;
	font-weight: 300;
	font-size: 15px;
	color: #ddd;
	background: #444;
	line-height: 20px;
	padding: 0px;
	width: 100%;
	height: fit-content;
	background: #323232;
	border: 1px solid #777;
	box-shadow: 7px 7px 10px #000;
	transition: all .5s ease-out;
}

.fixedWindow-title{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background-color: #00000044;
	box-shadow: 0px 2px 4px #000;
	font-weight: 600;
	padding: 3px 3px 3px 13px;
	color: #39a;
	margin: 1px;
}

.fixedWindow section {
	/*display: flex;
	flex-direction: row;*/
	font-size: 1em;
	line-height: 1.5em;
	padding: 5px 5px 5px 10px;
	color: #39a;
}

.fixedWindow h4 {
	width: 100%;
}

.obs {
	width: 100%;
	margin: auto;
	height:fit-content;
	min-height: 160px;
	max-height: 300px;
	padding:15px;
	background-color: #222;
	color:#59e3ea;
	font-family: 'Courier New', Courier, monospace;
	font-size: 1em;
	align-self: center;
}

.hidden {
	opacity: 0;
}

.visible {
	visibility: visible;
}

.verde {
	border: 2px solid #000;
	border-radius: 10px;
	padding: 0px;
	color: #000;
	background: #2e767dcc;
	box-shadow: 2px 2px 5px #33333399;
	margin: 20px;
	position: absolute;
	width: 720px;
	height: 500px;
	overflow: hidden;
	transition: box-shadow .5s;
	transition: height .3s ease-in, color .5s ease-in, width .3s ease-in;
}

.violeta {
	border: 5px solid white;
	border-radius: 20px;
	padding: 20px;
	color: #fff;
	background: #5900b3bb;
	box-shadow: 2px 2px 5px #33333399;
	margin: 20px;
	position: relative;
	transition: box-shadow .5s;
	z-index: 50;
}

.verdeMin {
	color: #000;
	height: 35px;
	overflow: hidden;
	transition: all .5s ease-in;
	
}

.zonaDeArrastre{
	display: flex;
	justify-content: space-between;
	font-weight: 700;
	width: 100%;
	height: 35px;
	background-color: #33333366;
	border-radius: 7px 7px 0 0;
	border-bottom: 2px solid #000;
	margin: 0px;
	padding: 6px 20px;
	position: relative;
	top: 0px;
	left: 0px;
	transition: background-color .5s;
}

.zonaDeArrastre h4{
	font-size: 15px;
	font-weight: 300;

}

.zonaDeArrastre:hover{
	background-color: #00000066;
	cursor: move;
}

.botonCerrar {
	padding: 2px;
	margin: 2px;
	width: 25px;
	height: 25px;
	border-bottom: 1px solid #913;
	border-right: 1px solid #913;
	color:  #913;
	font-size: 0.7em;
	background: transparent;
	text-align: center;
	user-select: none;
}

.botonCerrar:hover {
	color: #900;
	background: #000;
	cursor: pointer;
}

.botonMin {
	padding: 2px;
	margin: 2px;
	width: 25px;
	height: 80%;
	border-bottom: 1px solid #393;
	border-right: 1px solid #393;
	color: #393;
	font-size: 0.7em;
	background: transparent;
	text-align: center;
	box-shadow: 3px 3px 2px #00000066;
	user-select: none;
}

.botonMin:hover {
	color: #090;
	background: #000;
	cursor: pointer;
}
.arriba{
	z-index: 2000;
}
.agarrado {
	z-index: 1000;
	box-shadow: 10px 10px 12px #00000066;
}


@media only screen and (max-width: 500px) {
	body {
			display: flex;
			flex-direction: column;
			min-width: 300px;
	}
	.mainContainer{
		padding: 20px;
		min-width: 300px;
	}
	.productList {
		background: #ddd;
		min-width: 300px;
		display: block;
		padding: 5px;
		grid-column: 1 / span 1;
		grid-row: 2 / span 1;
	}
	.productItem {
		width: 95%;
		min-width: 250px;
		padding: 14px 0;
		margin:  auto;
	}
	.saveButtons button{
		margin-left: 5px;
	}
	
}

@media only print {

	.mainContainer, .productList, .button__ON, .botonMin, .botonCerrar, .verdeMin {
		visibility: hidden;
	}

	.fixedWindow-title {
		color: #000;
		box-shadow: none;
		border-bottom: 1px solid #000;
		background: transparent;
	}

	.fixedWindow {
		box-shadow: 3px 3px 5px #666;
		border-radius: 15px;
		margin-bottom: 5mm;
	}

	.fixedWindow h4 {
		font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
		color: #000;

	}

	.fixedWindow section {
		font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
		color:#000;
	}

	.secContainer {
		width: 210mm;
		height: 297mm;
		overflow: hidden;
		grid-column: 1;
		flex-direction: column-reverse;
		justify-content: flex-end;
		margin: 5mm;
		padding: 5mm;
		border: 1px solid black;
	}

	#contCanvas .info {
		padding: 20px;
		color: #000;
		font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	}

	.obs {
		width: 90%;
		margin: auto;
		height:fit-content;
		min-height: 15mm;
		padding:5mm;
		background-color: transparent;
		color:#000;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12pt;
		border: none;
		overflow: hidden;

	}

}
